{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}">
{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li>Username : {{ request.user }}</li>
            <li>User Email : {{ request.user.email}}</li>
            <a href="/table/"><button class="task">Table</button></a>
            <a href="/user_logout/"><button class="task">Logout</button></a>
        </ul>
    </nav>
{% endblock nav %}

{% block data %}
    <div id="Div">
        <form action="" method="post" enctype="multipart/form-data">
            
            {% csrf_token %}
            
            <div>
                <h1>Add Recipes</h1>
            </div>

            <hr>

            <div>
                <input placeholder="Recipe Name" type="text" name="recipe_name">
            </div>

            <div>
                <input placeholder="Recipe Description" type="text" name="recipe_desc">
            </div>

            <div>
                <input id="upload" placeholder="Recipe Image" type="file" name="recipe_image">
            </div>

            <button type="submit">Add</button>
        </form>
    </div>
{% endblock data %}


{% block script %}
    
{% endblock script %}
    


