{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'static/css/style.css' %}">
{% endblock %}

{% block data %}
<div id="Div">
    <form action="" method="post" enctype="multipart/form-data">
        
        {% csrf_token %}
        
        <div>
            <h1>Update Recipe</h1>
        </div>

        <hr>

        <div>
            <input placeholder="Recipe Name" type="text" name="recipe_name" value="{{data.recipe_name}}">
        </div>

        <div>
            <input placeholder="Recipe Description" type="text" name="recipe_desc" value="{{data.recipe_desc}}">
        </div>

        <div>
            <input id="upload" placeholder="Recipe Image" type="file" name="recipe_image">
        </div>

        <button type="submit">Update</button>
    </form>
</div>
{% endblock data %}